<% layout('/includes/cse') -%>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                       <div class="row">
                        <div class="col-md-12">
                            <div style="float: right;">
                                <a href="add-client.html" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New Client</a>
                            </div>
                        </div>
                        
                       </div>
                        <div class="row">
                            <div class="col-12"><br>
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr>
                                                <th>Code </th>
                                                <th>Client</th>
                                                <th>Category</th>
                                                <th>City</th>
                                                <th>Alias</th>
                                                <th>Discount(%)</th>
                                                <th>Type of Tax</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            <tr>
                                                <td>019</td>
                                                <td>Stickman Services</td>
                                                <td>Govt. </td>
                                                <td>Vadodara</td>
                                                <td>Alias</td>
                                                <td>10%</td>
                                                <td><a href="">GST</a></td>
                                                <td>
                                                    <a href="final-job-details.html" class="btn btn-info waves-effect waves-light me-1">
                                                        <i class=" bx bx-edit"></i>
                                                    </a>

                                                    <a href="" class="btn btn-danger waves-effect waves-light me-1">
                                                        <i class=" bx bxs-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>019</td>
                                                <td>Stickman Services</td>
                                                <td>PVT </td>
                                                <td>Vadodara</td>
                                                <td>Alias</td>
                                                <td>10%</td>
                                                <td><a href="">IGST</a></td>
                                                <td>
                                                    <a href="final-job-details.html" class="btn btn-info waves-effect waves-light me-1">
                                                        <i class=" bx bx-edit"></i>
                                                    </a>

                                                    <a href="" class="btn btn-danger waves-effect waves-light me-1">
                                                        <i class=" bx bxs-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>019</td>
                                                <td>Stickman Services</td>
                                                <td>3rd Party </td>
                                                <td>Vadodara</td>
                                                <td>Alias</td>
                                                <td>10%</td>
                                                <td><a href="">IGST</a></td>
                                                <td>
                                                    <a href="final-job-details.html" class="btn btn-info waves-effect waves-light me-1">
                                                        <i class=" bx bx-edit"></i>
                                                    </a>

                                                    <a href="" class="btn btn-danger waves-effect waves-light me-1">
                                                        <i class=" bx bxs-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                          

                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->