<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Changing password of account with mail <%= user.email %> <br> <br>
    <form action="/changePass/<%= user._id %>" method="post">
        <label for="newPass">New Password: </label>
        <input type="password" name="newPass" id="newPass"> <br>
        <label for="confirmPass">Confirm Password: </label>
        <input type="password" name="confirmPass" id="confirmPass"> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>