<div class="<%= (success && success.length) || (error && error.length) ? 'mt-3' : ''%> container px-4" id="body">
    <% if(success && success.length){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert" >
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="setMargin()"></button>
        </div>
    <% } %> 
    <% if(error && error.length){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="setMargin()"></button>
        </div>
    <% } %> 
</div>